name: CI

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  push: { branches: [ "main" ] }
  pull_request: { branches: [ "main" ] }

jobs:
  test:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            pixi-platform: linux-64
          - os: macos-latest
            pixi-platform: osx-arm64
          - os: macos-15-intel
            pixi-platform: osx-64
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup pixi
      uses: prefix-dev/setup-pixi@v0.9.3
      with:
        pixi-version: v0.62.2
        cache: true
        environments: cpu pydantic-1-cpu

    - name: Lint
      run: |
        pixi run lint

    - name: Run tests with pydantic >=2
      run: |
        pixi run test

    - name: Run tests with pydantic <2
      run: |
        pixi run --environment pydantic-1-cpu test

    - name: Test examples with pydantic >=2
      run: |
        pixi run test-examples

    - name: Build docs
      run: |
        pixi run docs

    - name: CodeCov
      uses: codecov/codecov-action@v4.1.1
      with:
        file: ./coverage.xml
        flags: unittests
        token: ${{ secrets.CODECOV_TOKEN }}
